@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #11171B;
  color: #E9ECEC;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #11171B;
}
::-webkit-scrollbar-thumb {
  background: #44545B;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5a6e77;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 0.3;
}
